.RestaurantList {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;

  .RestaurantLink {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
  }

  .RestaurantCard {
    margin: 1rem;
    font-family: 'Cabin', sans-serif;

    img {
      width: 250px;
      height: 150px;
    }
  }
}