.Cart {
  .CartHeader {
    margin-top: 4rem;
    color: #FD7553;
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
}

.CartTable {
  width: 70rem;
  margin: 3rem auto;
  text-align: center;

  th {
    margin-top: 4rem;
    color: #58bdf3;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  td {
    font-size: 0.9rem;
  }

  button {
    color: #FD7553;
    font-size: 1rem;
    background: #FFF;
    border: none;
  }

  tbody td:nth-last-child(1) {
    background: white;
  }

  #cartTotal {
    text-align: right;
    font-weight: 700
  }
}