.RestaurantDetail {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 50px;
  }
  
  .RestaurantTop {
    text-align: center;
  }

  .RestaurantMain {
    text-align: center;
  }

  .Polls {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
}