.RestaurantDetail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .RestaurantTop {
    display: flex;
    justify-content: space-around;

    .Contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      h2, h3 {
        font-family: 'Cabin', sans-serif;
      }

      img {
        height: 200px;
        width: 300px;
      }

      ul {
        list-style: none;
        margin-top: 1rem;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }

      li {
        font-family: 'Open Sans', sans-serif;
      }
    }

    .Map {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      height: 40vh;
      margin-top: 2rem;
      border: 1px solid black;
    }
  }

  .RestaurantInfo {
    margin-top: 0.5rem;
    background: #9BDAFD;
  }

  .RestaurantMain {
    text-align: center;

    h2 {
      color: #FFF;
      text-shadow: 2px 2px tomato;
      font-family: 'Cabin', sans-serif;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0 1rem;
      padding-inline-start: 0em;
    }
  }

  .Items {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}