.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Title {
  display: flex;
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  justify-content: center;
}

.Cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 45rem;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  height: auto;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FD7553;
  margin: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  width: 100%;
  height: auto;
  border: solid 0.2rem #9BDAFD;
  border-radius: 0.3rem;
}

.Avatar {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 0.3rem;
  border: 1.5px solid #9BDAFD;
}

.Name {
  font-family: ‘Cabin’, sans-serif;
  color: whitesmoke;
  text-shadow: rgb(33, 104, 142) 1px 1px 1px;
  text-transform: uppercase;
}

.SummaryContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(247, 169, 149, 0.769);
  height: 30vh;
  border: 1.5px solid rgba(155, 219, 253, 0.502);
}

.Summary {
  display: flex;
  font-family: ‘Cabin’, sans-serif;
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: white;
  overflow: scroll;
}

.IconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Icons {
  padding: 0.4rem;
  color: black;
  cursor: pointer;
  a:link {
    color: black;
    }
  a:visited {
    color: #9BDAFD;
    }
  a:hover {
    color: white;
    }
}


