.Container {
  display: flex;
  flex-direction: row;
  background-color: white;
  display: inline;
  font-family: ‘Cabin’, sans-serif;
  button:hover {
    background-color: white;
    }

  .logo {
    margin: 0 auto;
    width: 100px;
    text-align: center;
    display: block;
  }
}

.ALinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #9BDAFD;
  width: 100%;
  font-family: ‘Cabin’, sans-serif;
  
  p {
    color: black;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  p:hover {
    color: #FD7553;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FD7553;
  }
  p:visited {
    color: black;
    text-decoration: none;
  }
}

.FuncLinks {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: black;
}

.Links {
  padding: 0.25rem;
}

.LoginContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Login {
  border-radius: 2rem;
  border: 1rem #FD7553;
  font-family: ‘Cabin’, sans-serif;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #FD7553;
  color: black;

}