.Header {
  display: flex;
  flex-direction: row;
  display: inline;
  align-items: center;

  .logo {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
    text-align: center;
    display: block;
  }
}

.Icons{
  margin-top: .3rem;
  color: rgb(0, 27, 149);
  font-size: 175%;
  transition: all 0.6s ease 0s;

  img{
    margin-left: 2rem;
    transition: all 0.6s ease 0s;
  }

  :hover {
    color:#FD7553;
    transition: all 0.6s ease 0s;
  }

  :visited {
    color: rgb(0, 27, 149);
    text-decoration: none;
  }
}

.Info{
  font-size: 75%;
  vertical-align: middle;
  margin-bottom: .75rem;
}

.Search{

  ::placeholder{
    text-align: center;
    font-size: medium;
  }
  input{
    -webkit-appearance: none;
    margin-top: .5rem;
    border: 0px;
    font-size: 17px;
    height: 20px;
    margin-left: .5rem;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-style:solid;
   
  }

  button{
    border: none;
    background-color: #FD7553;
    border-radius: 30%;
    color: #FFF;
    font-size: 15px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    margin-left: .3rem;
    width: 30px;
    height: 23px;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    outline: none;
    padding-top: 2px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  button:hover{
    background-color: #FD7553;
    color: white;
    outline: none;
  }

  button:active{
    transform: translateY(3px);
    outline: none;
  }
}

.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #9BDAFD;
  
  img{
    width: 100px;
    height: 100px;
  }

  p {
    color: black;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  p:hover {
    color: #FD7553;
    font-weight: bold;
    text-decoration-color: #FD7553;
  }
  p:visited {
    color: black;
    text-decoration: none;
  }
}

.LeftLinks {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 70%;
  color: black;
}

.RightLinks {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 0.6em;
  font-weight: bold;
  align-items: center;
  right: 2rem;
}

.Login {
  border-radius: 2rem;
  border: 1rem #FD7553;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #FD7553;
  color: black;
  &:hover {
    background-color: white;
    }
}
.Meet {
  font-size: 1.3em;
}
