.PollDetail {
  button {
    display: none;
  }
  h3 {
    font-family: 'Cabin', sans-serif;
  }
}

.PollModalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .PollName {
    color: green;
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }

  button {
    margin: 10px;
  }
}

.PollBox {
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; 
  width: 300px;
  border: 5px solid #58bdf3;
  text-align: center;
  padding: 1rem;
}

.Orderings {
  display: flex;
  margin: 10px;
}

.Offering {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}