.PollDetail {
  button {
    display: none;
  }
  h3 {
    font-family: 'Cabin', sans-serif;
  }
}

.PollModalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: 'Open Sans', sans-serif;
  }

  button {
    margin: 10px;
  }
}

.VoteButton {
  padding: 0.5rem 0.75rem;
  background: #F67553;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.TimeRemaining {
  color: #F67553;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

.PollBox {
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; 
  width: 300px;
  border: 5px solid #58bdf3;
  text-align: center;
  padding: 1rem;
}

.Orderings {
  display: flex;
  margin: 10px;
}

.Offering {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}