.Form{
  align-items: center;
  background-color: grey;
  color:white;
  box-sizing: border-box;
  width: 300px;
  margin:0px auto;
  border: solid 1px black;
  padding: 1rem;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Quicksand', sans-serif;
  position: relative; top: 1rem;

  p{
    text-align: center;
    font-size: 13px;
  }
  h2{
    margin-top: 0;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }

  select{
    margin-top: .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  section{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="radio"]{
    border: solid 0px black;
    cursor: pointer;
  }

  input{
    border: 0px;
    height: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }

  textarea{
    margin-top: 1rem;
    margin-bottom: 2px;
    width: 100%;
  }
  button{
    border: solid 1px black;
    border-radius: 5px;
    width: 100px;
    background-color: #FD7653;
    color: white;
    margin: 1rem auto;
    padding: 5px;
    display: block;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.2s ease 0s;
    outline: none;
  }

  button:hover {
    background-color: navy;
    color: white;
    margin-top: rem;
    display: block;
    transform: translateY(1px);
    cursor: pointer;
    outline: none;
  }

  button:active {
    transform: translateY(3px);
    outline: none;
  }
}

.UserChoice{
  display: flex;
  flex-direction: row;
  font-weight: bolder;

  label{
      cursor: pointer;
  }
  input{
    display: none;
  }
  input:checked+label{
    color: #9BDAFD;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    
}
}
