.UserProfile {
  display: flex;
  flex-direction: column;
  
  h1 {
    text-align: center;
  }
}

.Orders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Polls {
  display: flex;
  flex-direction: column;
  align-items: center;
}